main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 44rem;
    font-weight: 700;

    .tasks {
      // display: flex;
      color: var(--blue)

    }
    span{
      padding-left: 1rem;
    }
    
    .tasks-done {
      margin-left: auto;
      color: var(--purple)
    }  
    
  }
}




@media (max-width: 768px){

  html {
    font-size: 87.5%;
  }
  
  .wrapper {
    grid-template-columns: 1fr;
  }
}
